<div class="container">
    <h1>View Employee</h1>
   
    <a href="#" routerLink="/employee/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID :</strong>
        <p>{{employee.id}}</p>
    </div>
    
    <div>
        <strong>Name :</strong>
        <p>{{employee.name}}</p>
    </div>
    
    <div>
        <strong>Position :</strong>
        <p>{{employee.position}}</p>
    </div>

    <div>
        <strong>Age :</strong>
        <p>{{employee.age}}</p>
    </div>

    <div>
        <strong>CollegeId :</strong>
        <p>{{employee.collegeId}}</p>
    </div>

    <div>
        <strong>DepartmentId :</strong>
        <p>{{employee.departmentId}}</p>
    </div>
    
</div>