<div class="container">
    <h1>View Student</h1>
   
    <a href="#" routerLink="/student/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{student.id}}</p>
    </div>
    
    <div>
        <strong>Name:</strong>
        <p>{{student.name}}</p>
    </div>
    
    <div>
        <strong>Age:</strong>
        <p>{{student.age}}</p>
    </div>

    <div>
        <strong>Age:</strong>
        <p>{{student.collegeId}}</p>
    </div>

    <div>
        <strong>Age:</strong>
        <p>{{student.departmentId}}</p>
    </div>
    
</div>